{% load static %}
<footer>
  <div class="container-fluid">
    <div class="row d-flex justify-content-center justify-content-lg-between">
      <div class="col-sm-12 col-lg-4 d-flex justify-content-lg-center justify-content-start pt-2 display-footer-logo">
        <div class="d-flex mx-auto justify-content-lg-between flex-column">
          <img
            src="{% static 'assets/images/logo_back.png' %}"
            class="footer-logo"
            alt=""
          />
        </div>
      </div>
    </div>
    </div>
  </div>
</footer>
