{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container-fluid">
  <div class="row d-flex justify-content-center pt-2">
    <div class="col-12 col-lg-12 d-flex justify-content-center d-flex flex-column ">
       <img src="{% static 'assets/images/maal_bg.png' %}" class="img-fluid" style="z-index: 1;"/>
       <a href="https://maaal.com/almadina/" target="_blank">
       <center> <img id="btn_maal" src="{% static 'assets/images/btn_maal.png' %}" class="img-fluid btn-maal "/></center>
      </a>

    </div>

  </div>
</div>
{% endblock content %}





