{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container-fluid">
  <div class="row d-flex justify-content-center pt-2">
    <div class="col-12 col-lg-10 d-flex justify-content-center d-flex flex-column">
        <video controls>
            <source src="{% static 'assets/videos/madeena.mp4' %}" type="video/mp4">
          المتصفح لا يدعم الفيديو
          </video>
          <div class="mx-auto pt-2">
            <a href="https://maaal.com/almadina/" class="btn btn-primary bg-maal text-white"> الذهاب للموقع </a>
        </div>
    </div>

  </div>
</div>
{% endblock content %}